<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aria2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0147EDBC1D21FAD800FB4324</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>019FE21A1DF7F5A8008930FB</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>019FE22D1DF7F634008930FB</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
